<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Home{% endblock %} Ustad Mobile Cloud Django</title>

	<!-- UMCloudDj specific-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/umclouddj.css" />

	<!-- Favicon goes here-->
	<link rel="icon" href="/media/favicon.ico" type="image/x-icon">
	<!--PrimeUI Stuff-->
	<link rel="stylesheet" href="{{ STATIC_URL }}jscss/jqui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}jscss/primeui/primeui-1.1/themes/aristo/theme.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}jscss/primeui/um-primeui-1.1-min.css" />
	<!--<link rel="stylesheet" href="{{ STATIC_URL }}jscss/primeui/primeui-4.1.12/primeui-all.min.css"/>-->
		
	<script type="text/javascript" src="{{ STATIC_URL}}jscss/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscss/jqui/ui/jquery-ui.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}jscss/primeui/primeui-1.1/development/primeui-1.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscss/primeui/primeui-4.1.12/puiselectbutton.js"></script>
	<!-- The multiselect is here -->
	<!-- PrimeUI Stuff ends. -->
	
	<!-- JSON table: MrJSONTable-->
	<script src="{{ STATIC_URL }}jscss/js/mrjsontable.js"></script>
	<link href="{{ STATIC_URL }}jscss/css/mrjsontable.css" rel="stylesheet" />
	
	<!--jQuery UI TimePicker-->
	<script src="{{ STATIC_URL }}jscss/js/jquery-ui-timepicker-addon.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}jscss/css/jquery-ui-timepicker-addon.css" type="text/css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}jscss/jqui/themes/base/jquery.ui.slider.css">

	<!--Bootstrap-->
	<!-- need to test if this hurts anything -->
        <!--<link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  	<script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>-->

	<!--DynaTable-->
	<script src="{{ STATIC_URL }}jscss/dynatable/jquery.dynatable.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}jscss/dynatable/jquery.dynatable.css" type="text/css"/>

	<!-- UMCloudDj JS -->
	<script src="{{ STATIC_URL }}js/umclouddj.js"></script>
	
	{% block scriptjs %} {% endblock %}
	{% block navjs %} {% endblock %}
</head>

<body>
	<div id="header">
		<p></p>
		<a href="/home/"><img src="/media/images/logoUMlong.png" alt="Ustad_Mobile_UMCloud_logo" align=""/></a><i>    (v1.4.3)</i>
		{% if current_user %}
			{{current_user}}
		{% endif %}
	</div>

	<p></p>

	<div id="page">
	  <div id="sidebar">
		{% block sidebar %}
		<ul id="pm1">
			<li><a data-icon="ui-icon-home" href="/home/">Home</a></li>
			<li><a data-icon="ui-icon-wrench" href="/management/">Management</a></li>
			<li><a data-icon="ui-icon-script" href="/reports/">Reports</a></li>
			<!--<li><a data-icon="ui-icon-mail-closed" href="/messages/">Messaging</a></li>-->
			<li><a data-icon="ui-icon-power" href="/logout/">Logout</a></li>
		</ul>
		{% endblock %}
	  </div>	
	  <div id="content">
        	<div id="navigate">

			{%block toolbar%}{% endblock %}
               		{%block navigate%}{% endblock %}
        	</div>

       	    {% block content %}{% endblock %}

	  </div>
	</div>
</body>
</html>
