{% extends "base.html" %}
{% block navjs %}
<script type="text/javascript">
          $(function() { 
                        $('#usertablenav').puibutton(); 
                        $('#schooltablenav').puibutton(); 
                        $('#allclasstablenav').puibutton(); 
                        $('#coursesnav').puibutton();
			$('#blocknav').puibutton();
                }
          ); 
</script>

{% endblock %}


{% block navigate %}
<a href="/upload/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Courses</button></a>
<a href="/userstable/"><button id="usertablenav" type="button" style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<hr>
<p></p>
{% endblock %}


