{% extends "base.html" %}
{% block scriptjs %}
<script type="text/javascript">
          $(function() { 
			$('#usagereport').puibutton();
			//$('#mockupusagereport').puibutton();
                        $('#mcqreports').puibutton(); 
			$('#statementsreports').puibutton(); 
			$('#stmtsdynadb').puibutton();
			$('#mystmtsdynadb').puibutton();
			$('#chartjstest').puibutton();
			$('#durationreport').puibutton();
			$('#lastactivity').puibutton();
			$('#allclassattendance').puibutton();
			$('#regidtincan').puibutton();
			$('#attendanceexcel').puibutton();
                }
          ); 
</script>
{% endblock %}
{% block content %}
<h2>Ustad Mobile Reports</h2>
     <div id="toolbarbottom" class="toolbar" >
	<ul>
		<!--<a href="/mcqreports/"><button id="mcqreports" type="button"style="width:200px;height:100px">Old MCQ Report</button></a>-->
		<!--<a href="/statementsreports/"><button id="statementsreports" type="button"style="width:200px;height:100px">Old Statements Report</button></a>-->
		<!--<a href="/reports/mystmtsdynadb/"><button id="mystmtsdynadb" type="button"style="width:200px;height:100px">My Statements Report</button></a>-->
		<a href="/reports/pagi_allstatements/"><button id="stmtsdynadb" type="button"style="width:200px;height:100px">All Statements Report</button></a>
		<!--<a href="/reports/chartjstest_selection/"><button id="chartjstest" type="button"style="width:200px;height:100px">Day Usage Report</button></a>-->
		<a href="/reports/durationreport_selection/"><button id="durationreport" type="button"style="width:200px;height:100px">Duration Report</button></a>
		<a href="/reports/usage_report/"><button id="usagereport" type="button"style="width:200px;height:100px;">Usage Report</button></a>
		<a href="/reports/lastactivity/"><button id="lastactivity" type="button"style="width:200px;height:100px;">Last Activity Report</button></a>
		<a href="/reports/attendance_selection/"><button id="allclassattendance" type="button"style="width:200px;height:100px;">Attendance Report</button></a>		
		<a href="/reports/attendance_excel_selection/"><button id="attendanceexcel" type="button" style="width:200px;height:100px;">Attendance Excel
 Report</button></a>
		<a href="/reports/registrations_report_tincanxml/"><button id="regidtincan" type="button" style="width:200px;height:100px;">Survey Report</button></a>
		<!--<a href="/reports/responsereport_selection/"><button id="mockupusagereport" type="button" style="width:200px;height:100px;background-image: url(/media/images/beta.png);background-repeat: no-repeat;">Mock Usage Report</button></a>-->
</a>
		
	</ul>
    </div>

{% endblock %}
