umpassword.txt
UMCloudDj/database/umcloud.sqlite3
UMCloudDj/media/eXeUpload
UMCloudDj/media/eXeExport
UMCloudDj/media/test/*
UMCloudDj/media/gruntConfig/umpassword.html
UMCloudDj/media/eXeTestElp
UMCloudDj/media/eXeTestExport
UMCloudDj/settings.py
UMCloudDj/wordpresscred.txt
UMCloudDj/media/cfregdump
*.pyc
*.bak
adllrs/
adllrs-server/
lrs/
oauth_provider/
adl_lrs/
logs/
UMCloudDj/settings.py
