umpassword.txt
UMCloudDj/database/umcloud.sqlite3
UMCloudDj/media/eXeUpload
UMCloudDj/media/eXeExport
UMCloudDj/media/test/*
UMCloudDj/media/gruntConfig/umpassword.html
UMCloudDj/media/eXeTestElp
UMCloudDj/media/eXeTestExport
UMCloudDj/media/web
UMCloudDj/media/web/*
UMCloudDj/settings.py
UMCloudDj/wordpresscred.txt
UMCloudDj/media/cfregdump
UMCloudDj/media/registration_report
UMCloudDj/media/attendance_report
*.pyc
*.bak
adllrs/
adllrs-server/
lrs/
oauth_provider/
adl_lrs/
logs/
UMCloudDj/settings.py
exelearning-ustadmobile-work/
git_pull.sh
.coverage
*.tar.gz
*.csv
cred.txt
allclass/cred.txt
C4AC03E048E485F6A679D1EFD133EF32.txt
a.txt
