{% extends "managebase.html" %}
{% block navigate %}
<a href="/userstable/"><button id="usertablenav" type="button" style="width:150px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" class="ui-state-hover" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<a href="/uploadeXe/manage/"><button id="blocknav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Blocks</button></a>
<a href="/uploadeXe/managecourses/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Courses</button></a>

<hr>
<p></p>
{% endblock %}
{% block scriptjs %}

  <!--Holiday Calender Stuff-->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>

  <!-- Bootstrap DatePicker -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<style>
        #holidays .datepicker.datepicker-inline,
        #holidays .datepicker.datepicker-inline table{
                width: 70%;
        }
        label{
                font-weight:500;
        }
</style>
<script type="text/javascript">
          //var selected_calendar = {{selected_calendar.id}};
          $(function() {
                        $('#holiday_name').puiinputtext();
                        //$('#holiday_calendar').puidropdown();
                        //$('#show_new_calendar_button').puibutton();
                        $('#holidays').datepicker({
                                multidate: true,
                                startView: 'months'
                        });
                        $('#holidays').on("changeDate", function() {
                                $('#hidden_holidays').val(
                                        $('#holidays').datepicker('getFormattedDate')
                                );
                        });
                }
          );
        function none_selected_calendar(){
                $('#holiday_calendar').val(0);
        }
        function show_new_calendar(){
                var add_new_calendar = document.getElementById('add_new_calendar')
                if ( $(add_new_calendar).css('display') == 'none' ){
                // element is hidden
                        $("a#show_new_calendar_href").text("Hide new calendar");
                        add_new_calendar.style.visibility = 'visible';
                        add_new_calendar.style.display = 'inline';
			//Check if new hol calendar name is empty. If it isnt, None the selected list
			if ($('#holiday_name').val()){
				$('#holiday_calendar').val(0);
			}
                        //$('#holiday_calendar').val(0);
                }else{
                        $("a#show_new_calendar_href").text("Add a Class calendar");
                        add_new_calendar.style.visibility = 'invisible';
                        add_new_calendar.style.display = 'none';
                        $('#holiday_calendar').val({{selected_calendar.id}});
                }

        }
</script>
<!-- End of Holiday Calender JS -->

<script type="text/javascript">
          $(function() { 
		
                var all_students = [{% for student in all_students %}
                        { "value" : "{{ student.id }}",
                        "label" : "{{student.first_name}} {{student.last_name}} ({{student.username}})"
                        },
                {% endfor %}];  
                var assigned_students = [{% for student in assigned_students %}
                        { "value" : "{{ student.id }}",
                        "label" : "{{student.first_name}} {{student.last_name}} ({{student.username}})"
                        },
                {% endfor %}];
		 var all_teachers = [{% for teacher in all_teachers %}
                        { "value" : "{{ teacher.id }}",
                        "label" : "{{teacher.first_name}} {{teacher.last_name}} ({{teacher.username}})"
                        },
                {% endfor %}];  
                var assigned_teachers = [{% for teacher in assigned_teachers %}
                        { "value" : "{{ teacher.id }}",
                        "label" : "{{teacher.first_name}} {{teacher.last_name}} ({{teacher.username}})"
                        },
                {% endfor %}];

		 var all_courses = [{% for course in all_courses %}
                        { "value" : "{{ course.id }}",
                        "label" : "{{course.name}} (ID: {{course.id}})"
                        },
                {% endfor %}];  
                var assigned_courses = [{% for course in assigned_courses %}
                        { "value" : "{{ course.id }}",
			"label" : "{{course.name}} (ID: {{course.id}})"
                        },
                {% endfor %}];
			$('#school').puidropdown();

			$('#assignedcourses').puipicklist({
                                effect: 'clip',  
                                showSourceControls: true,  
                                showTargetControls: true,  
                                sourceCaption: 'Available',  
                                targetCaption: 'Selected',  
                                filter: true,  
				filterMatchMode: 'contains',
                                sourceData:all_courses,  
                                targetData:assigned_courses,
                                content: function(option) {  
                                        return '<img src="/media/images/' + "course-small" + '.png" alt="" /><span style="">' + option.label.replace(/^\s+|\s+$/g, '') + '</span>';  
                                         }  
                        }); 



			$('#assignedstudents').puipicklist({
                                effect: 'clip',  
                                showSourceControls: true,  
                                showTargetControls: true,  
                                sourceCaption: 'Available ({{all_students|length}})',  
                                targetCaption: 'Selected ({{assigned_students|length}})',  
                                filter: true,  
				filterMatchMode: 'contains',
                                sourceData:all_students,  
                                targetData:assigned_students,
                                content: function(option) {  
                                        return '<img src="/media/' + "user" + '.png" alt="" /><span style="">' + option.label.replace(/^\s+|\s+$/g, '') + '</span>';  
                                         }  
                        }); 
			$('#assignedteachers').puipicklist({
                                effect: 'clip',  
                                showSourceControls: true,  
                                showTargetControls: true,  
                                sourceCaption: 'Available',  
                                targetCaption: 'Selected',  
                                filter: true,  
				filterMatchMode: 'contains',
                                sourceData:all_teachers,  
                                targetData:assigned_teachers,
                                content: function(option) {  
                                        return '<img src="/media/' + "user" + '.png" alt="" /><span style="">' + option.label.replace(/^\s+|\s+$/g, '') + '</span>';  
                                         }  
                        }); 
                        $('#id_allclass_name').puiinputtext();
                        $('#id_allclass_desc').puiinputtext();
                        $('#id_allclass_location').puiinputtext();
		        $('#id_school').puidropdown();
			
                        $('#submit').puibutton();
			$('#makepdf').puibutton();
			$('#attendanceform').puibutton();
                        $('#days').puiselectbutton({
                                choices: [
                                        {label:'Monday', value:1},
                                        {label:'Tuesday', value:2},
                                        {label:'Wednesday', value:3},
                                        {label:'Thursday', value:4},
                                        {label:'Friday', value:5},
                                        {label:'Saturday', value:6},
                                        {label:'Sunday', value:7},
                                ],
                                multiple: true,
                                formfield: 'days'
                        });
                }
          ); 

	window.onload = function(){

	    {% for every_day in alldays %}
		$('#days').puiselectbutton('selectOption', {{every_day.day.id}} -1);
                //$('#days').puiselectbutton('selectOption',0);
                //$('#days').puiselectbutton('selectOption',6);
	    {% endfor %}
        }
	
    	function generateAttendanceSheet(){
		//document.getElementById('allclassedit').submit;
		location.href="/fetch/make_attendance_pdf/{{allclass.id}}";
    	}
	
	function showAttendanceForm(){
		location.href="/allclassattendanceform/{{allclass.id}}";
	}
</script>
{% endblock %}
{% block title %}Edit Class{% endblock %}
{% block content %}
<p cass="error" style="color:red;"><i>{{state}}</i></p>

<div style="margin-left: 25%">
        <button id="makepdf" type="" name="makepdf" onclick="generateAttendanceSheet();">Generate Attendance Sheet</button>
	<button id="attendanceform" type="" name="attendanceform" onclick="showAttendanceForm();">Take Attendance</button>
        <p></p>
    </div>
<form id="allclassedit" method="post">{% csrf_token %}
    <!--{{ form.as_p }}-->
    <label>Class Name</label>
	{{form.allclass_name}}
    <p></p>
    <label>Class Desc</label>
	{{form.allclass_desc}}
    <p></p>
    <label>Class Location</label>
	{{form.allclass_location}}
    <p></p>
    <label style="margin-top:3px; margin-bottom:5px;" for="days">Days:</label>
    <div id="days"/></div><p></p>

    <label>Holiday Calender:</label>
    <select class="form-control" style="width:300px; display:inline;" id="holiday_calendar" form="allclassedit" name="holiday_calendar">
	{% if school_calendar %}
        	<option value="0">School's ({{school_calendar.name}})</option>
	{% elif org_calendar %}
		<option value="0">Organisation's ({{org_calendar.name}})</option>
	{% else %}
		<option value="0">None made</option>
	{% endif %}
        {% for calendar in calendars %}
                {% if calendar.id == selected_calendar.id %}
                        <option selected="selected" value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% else %}
                        <option value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% endif %}
        {% endfor %}
    </select>
    &nbsp;<a id="show_new_calendar_href" href="javascript:void(0);" onclick="show_new_calendar();"><img src="/media/images/plus.png"/>Add a Class calendar</a>
    <br></br>
    <div id="add_new_calendar" style="visibility:hidden; display:none;margin-left:50px;" type="hidden" name="add_new_calendar">
        <label>Calendar Name:</label>
        <input type="text" onChange="return none_selected_calendar();" id="holiday_name" name="holiday_name">
        <p></p><label for ="holidays">Holiday List:</label><div id="holidays" name="holidays" data-name="holidays" class="datepicker" data-date-format="mm/dd/yyyy"></div><p></p>
        <input type="hidden" name="hidden_holidays" data-name="hidden_holidays" id="hidden_holidays">
    </div>
    
     <p></p>
     <label>School</label>
	<select id="school" form="allclassedit" name="school">
        {% for school in all_schools %}
                {% if school.id == assignedschool.id %}
                        <option selected="Selected" value="{{ school.id }}">{{ school.school_name }}</option>
                {% else %}
                        <option value="{{ school.id }}">{{ school.school_name }}</option>
                {% endif%}
        {% endfor %}
   </select>



    <h3>Assigned Students</h3>
        <div id="assignedstudents" >
                <select multiple="multiple" id="source" name="source">
                </select>
                <select multiple="multiple" id="target" name="target">
                </select>
        </div>

    <h3>Assigned Teachers</h3>
        <div id="assignedteachers" >
                <select multiple="multiple" id="source" name="source">
                </select>
                <select multiple="multiple" id="target2" name="target2">
                </select>
        </div>
    <h3>Assigned Courses</h3>
        <div id="assignedcourses" >
                <select multiple="multiple" id="source" name="source">
                </select>
                <select multiple="multiple" id="target3" name="target3">
                </select>
        </div>

    <button id="submit" type="submit" name="submit" value="Create">Submit</button>
</form>

{% endblock %}
