{% extends "managebase.html" %}
{% block navigate %}
<a href="/userstable/"><button id="usertablenav" type="button" style="width:150px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" class="ui-state-hover" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<a href="/uploadeXe/manage/"><button id="blocknav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Blocks</button></a>
<a href="/uploadeXe/managecourses/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Courses</button></a>

<hr>
<p></p>
{% endblock %}
{% block title %}Manage Classes{% endblock %}
{% block content %}

<h1>Classes</h1>
<ul>
    {% for allclass in object_list %}
    <li>{{ allclass.id }}  :  
    <a href="{% url "allclass_edit" allclass.id %}">{{ allclass.allclass_name }} </a> ({{allclass.allclass_desc}})
    of School: {{ allclass.school.school_name }}
    <a href="{% url "allclass_delete" allclass.id %}">  (Delete)</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "allclass_new" %}">New</a>

{% endblock %}
