{% extends "base.html" %}
{% block scriptjs %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>

  <!-- Bootstrap DatePicker -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<style>
	/*Override*/
	table{
		width:auto;
	}
</style>
<script type="text/javascript">
          $(function() { 
                        $('#organisation_name').puiinputtext();
                        $('#id_code').puiinputtext();
                        $('#submit').puibutton();
			$('#holidays').datepicker({
  				multidate: true
			});
                }
          ); 
</script>
{% endblock %}
{% block title %}Edit Organisation{% endblock %}
{% block content %}
{% if state %}
        <p cass="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
<form method="post">{% csrf_token %}
    <label>Organisation:</label>
    <input type="text" id="organisation_name" name="organisation_name" value="{{organisation}}" readonly="True"/><i>You cannot edit the Organisation name</i>
	{{organisation}}
    {{ form.as_p }}
    {% if public %}
        <p><label for="id_public">Public:</label> <input checked="checked" id="id_public" name="public" type="checkbox" /></p>
    {% else %}
        <p><label for="id_public">Public:</label> <input id="id_public" name="public" type="checkbox" /></p>
    {% endif %}

    <button id="submit" type="submit" name="submit" value="Create">Update</button>
</form>
 
{% endif %}
{% endblock %}
