{% extends "base.html" %}
{% block scriptjs %}
<!--Holiday Calender Stuff-->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>

  <!-- Bootstrap-multiselect -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
  <script type="text/javascript" src="{{ STATIC_URL}}jscss/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

  <!-- Bootstrap DatePicker -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
 
<style>
        #holidays .datepicker.datepicker-inline,
        #holidays .datepicker.datepicker-inline table{
                width: 70%;
        }
        label{
                font-weight:500;
        }
</style>

<script type="text/javascript">
	$(document).ready(function(){
        	console.log("Ready..");
        	//$('#labels').multiselect();  
	});
          //var selected_calendar = {{selected_calendar.id}};
          $(function() {
                        $('#holiday_name').puiinputtext();
                        //$('#holiday_calendar').puidropdown();
                        //$('#show_new_calendar_button').puibutton();
                        $('#holidays').datepicker({
                                multidate: true,
                                startView: 'months'
                        });
                        $('#holidays').on("changeDate", function() {
                                $('#hidden_holidays').val(
                                        $('#holidays').datepicker('getFormattedDate')
                                );
                        });
			//$('#labels').puidropdown();
			$('#labels').multiselect();
                }
          );
        function none_selected_calendar(){
                $('#holiday_calendar').val(0);
        }
        function show_new_calendar(){
                var add_new_calendar = document.getElementById('add_new_calendar')
                if ( $(add_new_calendar).css('display') == 'none' ){
                // element is hidden
                        $("a#show_new_calendar_href").text("Hide new calendar");
                        add_new_calendar.style.visibility = 'visible';
                        add_new_calendar.style.display = 'inline';
                        //$('#holiday_calendar').val(0);
                }else{
                        $("a#show_new_calendar_href").text("Add a Organisation calendar");
                        add_new_calendar.style.visibility = 'invisible';
                        add_new_calendar.style.display = 'none';
                        $('#holiday_calendar').val({{selected_calendar.id}});
                }

        }
</script>
<!-- End of Holiday Calender JS -->


  <!-- Bootstrap -->
  <!--<link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>-->

  <!-- Bootstrap DatePicker -->
  <!--<link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>-->

<style>
	/*Override*/
	table{
		width:auto;
	}
</style>
<script type="text/javascript">
          $(function() { 
                        $('#organisation_name').puiinputtext();
			$('#id_organisation_desc').puiinputtext();
			$('#id_public').puicheckbox();
                        $('#id_code').puiinputtext();
                        $('#submit').puibutton();
			$('#holidays').datepicker({
  				multidate: true
			});
                }
          ); 
</script>
{% endblock %}
{% block title %}Edit Organisation{% endblock %}
{% block content %}
{% if state %}
        <p cass="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
<form id="myorganisationedit" method="post">{% csrf_token %}
    <label>Organisation:</label>
    <input type="text" id="organisation_name" name="organisation_name" value="{{organisation}}" readonly="True"/><i>You cannot edit the Organisation name</i>
	{{organisation}}
    {{ form.as_p }}
    <!--
    {% if public %}
        <p><label for="id_public">Public:</label> <input checked="checked" id="id_public" name="public" type="checkbox" /></p>
    {% else %}
        <p><label for="id_public">Public:</label> <input id="id_public" name="public" type="checkbox" /></p>
    {% endif %}-->
    <label>Organisation Code:</label>
    <input type="text" id="id_code" name="id_code" value="{{organisation_code.code}}"/><p></p>

    <label>Attendance Labels:</label>
    <select multiple="multiple" name="labels" id="labels" required>
            <!--<option selected value="Z">Labels</option>-->
        {% for every_label in status_labels %}
	  {% if every_label.status == True %}
	    <option selected value="{{ every_label.label.id }}">{{ every_label.label.name }}</option>
	  {% else %}
            <option value="{{ every_label.label.id }}">{{ every_label.label.name }}</option>
	  {% endif %}
        {% endfor %}
    </select><p></p>

    <label>Holiday Calender:</label>
    <select class="form-control" style="width:200px; display:inline;" id="holiday_calendar" form="myorganisationform" name="holiday_calendar">
        <option value="0">None</option>
        {% for calendar in calendars %}
                {% if calendar.id == selected_calendar.id %}
                        <option selected="selected" value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% else %}
                        <option value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% endif %}
        {% endfor %}
    </select>
    &nbsp;<a id="show_new_calendar_href" href="javascript:void(0);" onclick="show_new_calendar();"><img src="/media/images/plus.png"/>Add a Organisation calendar</a>
    <br/>
    <div id="add_new_calendar" style="visibility:hidden; display:none;margin-left:50px;" type="hidden" name="add_new_calendar">
        <label>Calendar Name:</label>
        <input type="text" onChange="return none_selected_calendar();" id="holiday_name" name="holiday_name">
        <p></p><label for ="holidays">Holiday List:</label><div id="holidays" name="holidays" data-name="holidays" class="datepicker" data-date-format="mm/dd/yyyy"></div><p></p>
        <input type="hidden" name="hidden_holidays" data-name="hidden_holidays" id="hidden_holidays">
    </div>

    <button id="submit" type="submit" name="submit" value="Create">Update</button>
</form>
{% endif %}
{% endblock %}
