{% extends "base.html" %}
{% block scriptjs %}

<!--Holiday Calender Stuff-->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>

  <!-- Bootstrap DatePicker -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<style>
        #holidays .datepicker.datepicker-inline,
        #holidays .datepicker.datepicker-inline table{
                width: 70%;
        }
        label{
                font-weight:500;
        }
</style>
<script type="text/javascript">
          //var selected_calendar = {{selected_calendar.id}};
          $(function() {
                        $('#holiday_name').puiinputtext();
                        //$('#holiday_calendar').puidropdown();
                        //$('#show_new_calendar_button').puibutton();
                        $('#holidays').datepicker({
                                multidate: true,
                                startView: 'months'
                        });
                        $('#holidays').on("changeDate", function() {
                                $('#hidden_holidays').val(
                                        $('#holidays').datepicker('getFormattedDate')
                                );
                        });
                }
          );
        function none_selected_calendar(){
                $('#holiday_calendar').val(0);
        }
        function show_new_calendar(){
                var add_new_calendar = document.getElementById('add_new_calendar')
                if ( $(add_new_calendar).css('display') == 'none' ){
                // element is hidden
                        $("a#show_new_calendar_href").text("Hide new calendar");
                        add_new_calendar.style.visibility = 'visible';
                        add_new_calendar.style.display = 'inline';
                        //$('#holiday_calendar').val(0);
                }else{
                        $("a#show_new_calendar_href").text("Add a school calendar");
                        add_new_calendar.style.visibility = 'invisible';
                        add_new_calendar.style.display = 'none';
                        $('#holiday_calendar').val({{selected_calendar.id}});
                }

        }
</script>
<!-- End of Holiday Calender JS -->
<script type="text/javascript">
          $(function() { 
                        $('#organisation_name').puiinputtext();
                        $('#organisation_desc').puiinputtext();
                        $('#umpackage').puidropdown();
			$('#organisation').puidropdown();
                        $('#submit').puibutton();

                        $('#username').puiinputtext();
                        $('#email').puiinputtext();
                        $('#password').puiinputtext();
			$('#passwordagain').puiinputtext();
                        $('#first_name').puiinputtext();
                        $('#last_name').puiinputtext();
                        $('#phonenumber').puiinputtext();
                        $('#gender').puidropdown();
   			$('#dateofbirth').puiinputtext();
			$('#address').puiinputtext();
                        $( ".dobdatepicker" ).datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "1900:2012",
                                // You can put more options here.
                        });

			
                }
          ); 
</script>
{% endblock %}
{% block title %}Add an Organisation {% endblock %}
{% block content %}
{% if state == "You do not have permission to see this page." %}
	<p cass="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
	<p cass="error" style="color:red;"><i>{{state}}</i></p>
<form id="neworganisationform" method="post">{% csrf_token %}
    <h1>Create a New Organisation</h1>
    <br></br>
    <div data-role="fieldcontain">
        <label for="organisation_name">Organisation Name:  </label><input type="text" name="organisation_name" id="organisation_name" value="" required/>
    </div>
    <div data-role="fieldcontain">
        <label for="organisation_desc">Organisation Desc:  </label><input type="text" name="organisation_desc" id="organisation_desc" value="" required/>
    </div>
   <label>Billing Package:</label> <select id="umpackage" form="neworganisationform" name="umpackageid">
        {% for umpackage in object_list %}
        <option value="{{ umpackage.id }}">{{ umpackage.package_name }}</option>
        {% endfor %}
   </select>
   <br></br>
   <h2>Organisation Admin</h2>
   <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="username">Username: &nbsp  </label>-->
        <input type="text" name="username" id="username" placeholder="Username" style="height: 30px; width: 250px;" value="" required/>
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="email">Email:  &nbsp&nbsp</label>-->
        <input type="email" name="email" id="email" placeholder="Email" style="height: 30px; width: 250px;" value="" />
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="password">Password:</label>-->
        <input type="password" name="password" id="password" placeholder="Password" style="height: 30px; width: 250px;" value="" required/>
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="password">Password:</label>-->
        <input type="password" name="passwordagain" id="passwordagain" placeholder="Enter Password Again" style="height: 30px; width: 250px;" value="" required/>
    </div>

    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="first_name">First Name:  </label>-->
        <input type="text" name="first_name" id="first_name" placeholder="First Name" style="height: 30px; width: 250px;" value="" required/>
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="last_name">Last Name:  </label>-->
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" style="height: 30px; width: 250px;" value="" required/>
    </div>

   <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="company_name">Organisation name:  </label>-->
        <input type="text" name="dateofbirth" id="dateofbirth" class="dobdatepicker" placeholder="Date of Birth" style="height: 30px; width: 250px;" value="" required/>
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="job_title">Job Title:  </label>-->
        <input type="text" name="address" id="address" placeholder="Address/Location" style="height: 30px; width: 250px;" value="" />
    </div>
     <div data-role="fieldcontain" style="padding-bottom:5px">
        <!--<label for="job_title">Job Title:  </label>-->
        <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone Number" style="height: 30px; width: 250px;" value="" required/>
    </div>

    <div data-role="fieldcontain" style="padding-bottom:5px">
    <label>Gender:</label> <select id="gender" form="neworganisationform" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
    </select>
    <p></p>
    <label>Holiday Calender:</label>
    <select class="form-control" style="width:100px; display:none;" id="holiday_calendar" form="neworganisationform" name="holiday_calendar">
        <option selected="selected" value="0">None</option>
        {% for calendar in calendars %}
                {% if calendar.id == selected_calendar.id %}
                        <option selected="selected" value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% else %}
                        <option value="{{ calendar.id }}">{{ calendar.name }}</option>
                {% endif %}
        {% endfor %}
    </select>
    &nbsp;<a id="show_new_calendar_href" href="javascript:void(0);" onclick="show_new_calendar();"><img src="/media/images/plus.png"/>Add a school calendar</a>
    <br></br>
    <div id="add_new_calendar" style="visibility:hidden; display:none;margin-left:50px;" type="hidden" name="add_new_calendar">
        <label>Calendar Name:</label>
        <input type="text" onChange="return none_selected_calendar();" id="holiday_name" name="holiday_name">
        <p></p><label for ="holidays">Holiday List:</label><div id="holidays" name="holidays" data-name="holidays" class="datepicker" data-date-format="mm/dd/yyyy"></div><p></p>
        <input type="hidden" name="hidden_holidays" data-name="hidden_holidays" id="hidden_holidays">
    </div>
    <br></br>
    <button id="submit" type="submit" name="submit" value="Create">Submit</button>
</form>
{% endif %}

{% endblock %}
