{% extends "base.html" %}
{% block scriptjs %}
<script type="text/javascript">
          $(function() { 
                        $('#id_organisation_name').puiinputtext();
                        $('#id_organisation_desc').puiinputtext();
			$('#id_add_date').puiinputtext();
                        $('#id_set_package').puidropdown();
                        $('#submit').puibutton();
                }
          ); 
</script>
{% endblock %}
{% block title %}Edit Organisation{% endblock %}
{% block content %}
{% if state %}
        <p cass="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button id="submit" type="submit" name="submit" value="Create">Update</button>
</form>
 
{% endif %}
{% endblock %}
