{% extends "base.html" %}
{% block title %}Manage UMCloud Packages {% endblock %}
{% block content %}
{% if state %}
        <p cass="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
<h1>UMCloud Packages</h1>
<ul>
    {% for umpackage in object_list %}
    <li>{{ umpackage.package_name }}  :  
    <a href="{% url "umpackage_edit" umpackage.id %}">({{ umpackage.package_desc }})</a>
    <a href="{% url "umpackage_delete" umpackage.id %}">  (Delete)</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url "umpackage_new" %}">New</a>
{% endif %}
{% endblock %}
