{% extends "base.html" %}

{% block title %}Upload eXe course {% endblock %}

{% block content %}
		
		<script type="text/JavaScript">
		function TestFileType( fileName, fileTypes ) {
			if (!fileName) return;
			dots = fileName.split(".")
			fileType = "." + dots[dots.length-1];
			console.log("Type: " + fileType);
			return (fileTypes.join(".").indexOf(fileType) != -1) ?
			console.log('That file is OK!') : 
			alert("Please only upload files that end in types: \n\n" + (fileTypes.join(" .")) + "\n\nPlease select a new file and try again.");
		}
		</script>	

		<i>List of your uploaded Courses. Click to view online</i>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.url }}" target="_blank">{{ document.name }}</a></li>
				<dd>
					<li>Course ID: {{ document.id }}</li>
				</dd>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			 <img src="/media/images/address-book-new-3-medium.png" align="right">
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.exefile.label_tag }} {{ form.exefile.help_text }}</p>
			<p>
				{{ form.exefile.errors }}
				<!--{{ form.exefile }}-->
				<input id="id_exefile" name="exefile" type="file" accept=".elp" >
				
			</p>
			<!--<p><input type="submit" value="Upload" onclick="TestFileType(this.form.exefile.value, ['.elp'])"/></p>-->
			<p><input type="submit" value="Upload" /></p>
		</form>
		<i>Enter in the Course ID to download course in the Ustad Mobile Android/Blackberry/Apple iOS/Windows Phone Apps</i>
{% endblock %}
