/*base.html*/
 
	   table { width: 100%; }
	   table tr { border-bottom:1px solid #e9e9e9; }
	   table thead td, th {
		border-left: 1px solid #f2f2f2; 
		border-right: 1px solid #d5d5d5; 
		/*background: #ddd url("../images/sprites4.png") repeat-x scroll 0 100% ; */
		font-weight: bold; 
		text-align:left;
		}
	   table tr td, th { border:1px solid #D5D5D5; padding:15px;}
	   table tr:hover { background:#fcfcfc;}
	   table tr ul.actions {margin: 0;}
	   table tr ul.actions li {display: inline; margin-right: 5px;}
	   td.last {
    		width: 1px;
    		white-space: nowrap;
	   }
	   span.tab{
    		padding: 0 80px; /* Or desired space*/
	   }
	   body {
  		margin: 0;
  		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  		font-size: 14px;
  		line-height: 20px;
  		color: #333333;
  		background-color: #ffffff;
	  }
	  label { display: inline-block; width: 140px; text-align: left; font-weight: 500; }

	  body{
		text-align: left;
	  }
	  .spinner {
    		position: fixed;
    		top: 50%;
    		left: 25%;
    		margin-left: -50px; /* half width of the spinner gif */
    		margin-top: -20px; /* half height of the spinner gif */
    		text-align:center;
    		z-index:1234;
    		/*overflow: auto;*/
    		width: 500px; /* width of the spinner gif */
    		height: 302px; /*hight of the spinner gif +2px to fix IE8 issue */
	  }
	  #page {
		width: 1428px;
		/*width:100%;*/
		text-align: left;
		background-color: grey;
	  }

	  #sidebar {
		margin-top:-5px;
		float: left;
		width: 203px;
		border: 0px solid blue;
		padding: 5px;
	  }

	  #content {
		float: left;
		width: 1000px;
		/*margin-left: 245px;*/
		/*width: 100%;*/
		border: 1px solid grey;
		padding: 5px;
		border-radius: 5px;
	  }

	  #header {
		float: top;
		border: 2px solid grey;
		/*width: 1111px;*/
		width: 100%;
   		padding: 5px;
		border-radius: 5px;
	  }
	  #blocknav {
        	background-image: url(/media/images/package.png);
        	background-repeat: no-repeat;
        	background-position: center left;
        	text-align: center;
          }

	  #coursesnav {
    		background-image: url(/media/images/course.png);
    		background-repeat: no-repeat;
    		background-position: center left;
    		text-align: center;
	  }

	  #usertablenav {
    		background-image:url(/media/images/users.png);
    		background-repeat: no-repeat;
    		background-position: center left;
    		text-align: center;
	  }
	  #allclasstablenav {
    		background-image:url(/media/images/class.png);
    		background-repeat: no-repeat;
    		background-position: center left;
    		text-align: center;
	  }
	  #schooltablenav {
    		background-image:url(/media/images/school.png);
    		background-repeat: no-repeat;
    		background-position: center left;
    		text-align: center;
	  }

/*secure.html*/
#management {
    background-image: url(/media/system-settings.png);
    background-repeat: no-repeat;
    background-position: center left;
    text-align: right;
}

#reports {
    background-image:url(/media/office-chart-area-stacked.png);
    background-repeat: no-repeat;
    background-position: center left;
    text-align: right;
}
#messaging{
background-image:url(/media/images/messaging.png);
    background-repeat: no-repeat;
    background-position: center left;
    text-align: right;
}


