{% extends "managebase.html" %}
{% block navigate %}
<a href="/userstable/"><button id="usertablenav" type="button" style="width:150px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" class="ui-state-hover"  type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<a href="/uploadeXe/manage/"><button id="blocknav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Blocks</button></a>
<a href="/uploadeXe/managecourses/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Courses</button></a>

<hr>
<p></p>
{% endblock %}
{% block scriptjs %}
<!--Holiday Calender Stuff-->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap/js/bootstrap.min.js"></script>

  <!-- Bootstrap DatePicker -->
  <link rel="stylesheet" href="{{ STATIC_URL }}jscss/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}jscss/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<style>
        #holidays .datepicker.datepicker-inline,
        #holidays .datepicker.datepicker-inline table{
                width: 70%;
        }
        label{
                font-weight:500;
        }
</style>
<script type="text/javascript">
          $(function() {
                        $('#holiday_name').puiinputtext();
                        //$('#holiday_calendar').puidropdown();
                        //$('#show_new_calendar_button').puibutton();
                        $('#holidays').datepicker({
                                multidate: true,
                                startView: 'months'
                        });
                        $('#holidays').on("changeDate", function() {
                                $('#hidden_holidays').val(
                                        $('#holidays').datepicker('getFormattedDate')
                                );
                        });
                }
          );
	function none_selected_calendar(){
		$('#holiday_calendar').val(0);
	}
        function show_new_calendar(){
                var add_new_calendar = document.getElementById('add_new_calendar')
                if ( $(add_new_calendar).css('display') == 'none' ){
                // element is hidden
                        $("a#show_new_calendar_href").text("Hide new calendar");
                        add_new_calendar.style.visibility = 'visible';
                        add_new_calendar.style.display = 'inline';
                        //$('#holiday_calendar').val(0);
			if ($('#holiday_name').val()){
                                $('#holiday_calendar').val(0);
                        }
                }else{
                        $("a#show_new_calendar_href").text("Add a school calendar");
                        add_new_calendar.style.visibility = 'invisible';
                        add_new_calendar.style.display = 'none';
			$('#holiday_calendar').val({{selected_calendar.id}});
                }

        }
</script>
<!-- End of Holiday Calender JS -->

<script type="text/javascript">
          $(function() { 
                        $('#id_school_name').puiinputtext();
                        $('#id_school_desc').puiinputtext();
                        $('#id_organisation').puidropdown();
                        $('#submit').puibutton();
			$('#makepdf').puibutton();
			$('#days').puiselectbutton({
			    choices: [
				{label:'Monday', value:1},
				{label:'Tuesday', value:2},
				{label:'Wednesday', value:3},
				{label:'Thursday', value:4},
				{label:'Friday', value:5},
				{label:'Saturday', value:6},
				{label:'Sunday', value:7},
			    ],
			    multiple: true,
			    formfield: 'days'
			});

                }
          ); 
	function generateAttendanceSheet(){
		location.href="/fetch/make_school_attendance_pdf/{{school.id}}";
	}
	window.onload = function(){
		{% for every_day in weekends %}
			$('#days').puiselectbutton('selectOption', {{every_day.id}} -1);
		{% endfor %}
	}
</script>
{% endblock %}

{% block title %}Edit School{% endblock %}
{% block content %}
<button id="makepdf" type="" name="makepdf" onclick="generateAttendanceSheet();">Generate Attendance Sheet</button>
<form id="schoolform" method="post">{% csrf_token %}
    {{ form.as_p }}
    <label style="margin-top:3px; margin-bottom:5px;" for="days">Weekend Days:</label>
    <div id="days"/></div><p></p>

    <label>Holiday Calender:</label>
    <select class="form-control" style="width:100px; display:inline;" id="holiday_calendar" form="schoolform" name="holiday_calendar">
        <option value="0">None</option>
        {% for calendar in calendars %}
		{% if calendar.id == selected_calendar.id %}
                	<option selected="selected" value="{{ calendar.id }}">{{ calendar.name }}</option>
		{% else %}
			<option value="{{ calendar.id }}">{{ calendar.name }}</option>
		{% endif %}
        {% endfor %}
    </select>
    &nbsp;<a id="show_new_calendar_href" href="javascript:void(0);" onclick="show_new_calendar();"><img src="/media/images/plus.png"/>Add a school calendar</a>
    <br></br>
    <div id="add_new_calendar" style="visibility:hidden; display:none;margin-left:50px;" type="hidden" name="add_new_calendar">
        <label>Calendar Name:</label>
        <input type="text" onChange="return none_selected_calendar();" id="holiday_name" name="holiday_name">
        <p></p><label for ="holidays">Holiday List:</label><div id="holidays" name="holidays" data-name="holidays" class="datepicker" data-date-format="mm/dd/yyyy"></div><p></p>
        <input type="hidden" name="hidden_holidays" data-name="hidden_holidays" id="hidden_holidays">
    </div>
    <button id="submit" type="submit" name="submit" value="Create">Submit</button>
</form>
{% endblock %}
