{% extends "managebase.html" %}
{% block navigate %}
<a href="/userstable/"><button id="usertablenav" class="ui-state-hover" type="button" style="width:149px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<a href="/uploadeXe/manage/"><button id="blocknav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Blocks</button></a>
<a href="/uploadeXe/managecourses/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Courses</button></a>

<hr>
<p></p>
{% endblock %}

{% block title %}Approve User Requests{% endblock %}
{% block content %}
<style>
#newuser {
    background-image: url(/media/images/user-new.png);
    background-repeat: no-repeat;
    width: 120px;
    background-position: center left;
    text-align: right;
}
#adduser {
    background-image: url(/media/images/plus.png);
    background-repeat: no-repeat;
    width: 110px;
    background-position: center left;
    text-align: right;
}

</style>
<script type="text/javascript">
  //data['user_list']=zip(users_as_json, user_roles, user_organisations)
  $(function() { 
    $('#tblusers').puidatatable({
            caption: 'Users',
            paginator: {
                rows: 10
            },
            columns: [
                //{field:'model', headerText: 'Django Model', sortable:true},
		{field:'username', headerText: 'Username', sortable:true},
		{field:'first_name', headerText: 'First Name', sortable:true},
		{field:'last_name', headerText: 'Last Name', sortable:true},
		//{field:'is_active', headerText: 'Is Active', sortable:true},
		{field:'role',headerText:'Role', sortable:true},

            ],
            datasource: [
		{% if users_as_json %}
    			{% for c, role, org in user_list %}
			{"pk":"{{c.pk}}","model":"{{c.model}}","username":"{{c.pk}}: {{c.fields.username}}", "first_name":"{{c.fields.first_name}}","last_name":"{{c.fields.last_name}}", "is_active":"{{c.fields.is_active}}","role":"{{role.role_name}}"}{% if not forloop.last %},{% endif %}
    			{% endfor %}
		{% endif %}
		],
            //selectionMode: 'single',
            rowSelect: function(event, data) {
		console.log("Wassup?")
                $('#messages').puigrowl('show', [{severity:'info', summary: 'Row Selected', detail: (data.username + ' ' + data.pk)}]);
		var edit="/userapprove/"+data.pk;
		//window.open(edit, "_self");
            },
            rowUnselect: function(event, data) {
                //$('#messages').puigrowl('show', [{severity:'info', summary: 'Row Unselected', detail: (data.brand + ' ' + data.vin)}]);
            }
   });
   $('#newuser').puibutton();  
   $('#adduser').puibutton();
   var users_requests_map = [{% for userprofile in users_requests %}
			{ "value": "{{userprofile.id}}",
			  "label": "{{userprofile.first_name}} {{userprofile.last_name}} ({{userprofile.username}})"
			},
		{% endfor %}];
   $('#submit').puibutton();
   $('#approveusers').puipicklist({  
                                effect: 'clip',  
                                showSourceControls: false,  
                                showTargetControls: false,  
                                sourceCaption: 'Available',  
                                targetCaption: 'Selected',  
                                filter: true,  
				filterMatchMode: 'contains',
                                sourceData:users_requests_map,  
                                content: function(option) {  
                                        return '<img src="/media/' + "user" + '.png" alt="" /><span style="">' + option.label.replace(/^\s+|\s+$/g, '') + '</span>';  
                                }  
                        });

  }
  ); 


</script>
<p></p>
<p cass="error" style="color:red;"><i>{{state}}</i></p>
{% if  users_requests %}
<div id="tblusers"> </div>
<br></br>
<form id="approveusersform" method="post">{% csrf_token %}

<h3> Approve Users:</h3>
<div id="approveusers" >
    <select multiple="multiple" id="source" name="source">
    </select>
    <select multiple="multiple" id="target" name="target">
    </select>
</div>
<button id="submit" type="submit" name="submittotable" value="Create">Submit</button>
{% else %}
<i>You have no pending user requests for your organisation</i>
{% endif %}
</form>
<p></p>
{% endblock %}
