{% extends "base.html" %}
{% block navigate %}
{% endblock %}

{% block title %}Create a New Individual User {% endblock %}
{% block content %}
{% if form.errors %}
    <p class="error"> Sorry, that is not a valid entry</p>
{% endif %}

{% block scriptjs %}
<script type="text/javascript">
	  $(function() {
              var txt = $("input#username");
              var func = function() {
                  txt.val(txt.val().replace(/\s/g, ''));
                  document.getElementById("spaceprompt").style.visibility = "visible";
              }
              txt.keyup(func).blur(func);
          });
          $(function() { 
			$('#username').puiinputtext();
			$('#email').puiinputtext();
			$('#password').puiinputtext();
			$('#passwordagain').puiinputtext();
			$('#first_name').puiinputtext();
			$('#address').puiinputtext();
			$('#last_name').puiinputtext();
			$('#website').puiinputtext();
			$('#phonenumber').puiinputtext();
			$('#job_title').puiinputtext();
			$('#company_name').puiinputtext();	
			$('#submit').puibutton();
			$('#createuser').puipanel();
			$('#gender').puidropdown();
			$('#dateofbirth').puiinputtext();
			$( ".dobdatepicker" ).datepicker({
      				changeMonth: true,
      				changeYear: true,
      				yearRange: "1900:2012",
      				// You can put more options here.
    			});
			$('#organisationrequest').puiinputtext();
                	$('#notifytop').puinotify('show', '<h1>{{secure}}</h1>');  
                }
          ); 

  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
    });
  });
</script>
{% endblock %}
<p cass="error" style="color:red;"><i>{{state}}</i></p>
<div id="notifytop"></div>
{% if invitationemail %}
 <p style="color:green"><i>Hi {{invitationemail}}, please fill in the form below to continue to {{invitationcourse.name}} course</i></p>
{% endif %}

{% if invitationemail %}
<form action="/signup/" id="newuserform" method="post">{% csrf_token %}
{% else %}
<form action="/signup/" id="newuserform" method="post">{% csrf_token %}
{% endif %}
    <div id="createuser" title="Create a New Individual User">
    <p></p>

    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="username" id="username" placeholder="Username" style="height: 30px; width: 250px;" value="" required/>*
        <i id="spaceprompt" style="visibility:hidden;">Spaces are not allowed in usernames</i>
    </div>

    {% if invitationemail %}
	<div data-role="fieldcontain" style="padding-bottom:5px">
            <input type="email" name="email" id="email" placeholder="Email" style="height: 30px; width: 250px;" value="{{invitationemail}}" readonly/>
        </div>
	
    {% else %}
        <div data-role="fieldcontain" style="padding-bottom:5px">
            <input type="email" name="email" id="email" placeholder="Email" style="height: 30px; width: 250px;" value="" />
        </div>
    {% endif %}

    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="password" name="password" id="password" placeholder="Password" style="height: 30px; width: 250px;" value="" required/>*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <input type="password" name="passwordagain" id="passwordagain" placeholder="Enter Password Again" style="height: 30px; width: 250px;" value="" required/>*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="first_name" id="first_name" placeholder="First Name" style="height: 30px; width: 250px;" value="" required/>*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="last_name" id="last_name" placeholder="Last Name" style="height: 30px; width: 250px;" value="" required/>*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="website" id="website" placeholder="Website" style="height: 30px; width: 250px;" value="" />
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="job_title" id="job_title" placeholder="Job Title" style="height: 30px; width: 250px;" value="" />
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
	<input type="text" name="company_name" id="company_name" placeholder="Company Name" style="height: 30px; width: 250px;" value="" />
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <input type="text" name="dateofbirth" id="dateofbirth" class="dobdatepicker" placeholder="Date of Birth" style="height: 30px; width: 250px;" value="" required/>*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
        <input type="text" name="address" id="address" placeholder="Address/Location" style="height: 30px; width: 250px;" value="" />
    </div>
     <div data-role="fieldcontain" style="padding-bottom:5px">
        <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone Number" style="height: 30px; width: 250px;" value="" />*
    </div>
    <div data-role="fieldcontain" style="padding-bottom:5px">
    <input type="text" placeholder="Organisation Code" style="height: 30px; width: 250px;" id="organisationrequest" name="organisationrequest" hidden/>
    </div>

    {% if invitationemail %}
     <div data-role="fieldcontain" style="padding-bottom:5px">
      <input type="text" placeholder="Block Id" style="height: 30px; width: 250px;" id="courseid" name="courseid" value="{{invitationcourse.id}}" hidden/>
     </div>

     <div data-role="fieldcontain" style="padding-bottom:5px">
      <input type="text" placeholder="Invitation Id" style="height: 30px; width: 250px;" id="invitationid" name="invitationid" value="{{invitationid}}" hidden/>
     </div>

    {% endif %}

    <div data-role="fieldcontain" style="padding-bottom:5px">
    <label>Gender:</label> <select id="gender" form="newuserform" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
    </select>*
    </div>

    <p></p>
    {% if invitationemail %}
	<button id="submit" type="submit" name="submit" value="Create">Complete Registration</button>
    {% else %}
	<button id="submit" type="submit" name="submit" value="Create">Request my account</button>
    {% endif %}
    </div>
</form>

{% endblock %}
