{% extends "managebase.html" %}
{% block navigate %}
<a href="/userstable/"><button id="usertablenav" class="ui-state-hover" type="button" style="width:149px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<a href="/uploadeXe/manage/"><button id="blocknav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Blocks</button></a>
<a href="/uploadeXe/managecourses/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;">Courses</button></a>

<hr>
<p></p>
{% endblock %}

{% block title %}Edit User{% endblock %}
{% block content %}

<script>
	$(function() {  
            $('#id_username').puiinputtext();  
	    $('#id_email').puiinputtext();
	    $('#id_password').puiinputtext();
	    $('#id_first_name').puiinputtext();
	    $('#id_last_name').puiinputtext();
	    $('#id_website').puiinputtext();
	    $('#id_company_name').puiinputtext();
	    $('#id_job_title').puiinputtext();
  	    $('#id_date_of_birth').puiinputtext();
            $( ".dobdatepicker" ).datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "1900:2012",
                                // You can put more options here.
                        });

	    $('#id_address').puiinputtext();
 	    $('#id_phone_number').puiinputtext();
    	    $('#gender').puidropdown();
 	    $('#id_notes').puiinputtext();
  	    $('#submit').puibutton();
	    $('#deleteuser').puibutton();
	    $('#id_last_activity_date').puiinputtext();
	    $('#id_custom_roll_no').puiinputtext();
            });  

	function disableusername() {
		$('#id_username').puiinputtext('disable');
        }

	    //window.onload=disableusername;

</script>

<form id="edituserform" name="edituserform" method="post">{% csrf_token %}

        <label>Username:</label>
        {{ form.username }}<i></i><p></p>
	<label>New Password:</label>
	{{form.password}}<i> (Leave blank to retain)</i><p></p>
	<label>Email address:</label>
	{{form.email}}<p></p>
	<label>First Name:</label>
	{{form.first_name}}<p></p>
	<label>Last Name:</label>
	{{form.last_name}}<p></p>
	<label>Website</label>
	{{upform.website}}<p></p>
	<label>Company Name</label>
        {{upform.company_name}}<p></p>
	<label>Job Title</label>
	<!--<input id="id_job_title" maxlength="800" name="address" type="text" value="{{upform.job_title.value}}"/><p></p>-->
	{{upform.job_title}}<p></p>
	<label>Date of Birth</label>
        {{upform.date_of_birth}}<p></p>
	<label>Address</label>
        {{upform.address}}<p></p>
	<label>Phone Number</label>
        {{upform.phone_number}}<p></p>
	<!--
	<label>Gender:</label>
	{{upform.gender}}
	<p></p>
	-->

	<label>Gender:</label> <select id="gender" form="edituserform" name="gender">
		{% if upform.gender.value == 'M' %}	
			<option value="M" selected="Selected">Male</option>
			<option value="F" >Female</option>
		{% else %}
			<option value="M" >Male</option>
                	<option value="F" selected="Selected">Female</option>
		{% endif %}
    	</select>*<p></p>

	<label>Notes</label>
        {{upform.notes}}<p></p>
	<!--{{upform.as_p}}-->
	<label>Last Active On:</label>
	{{upform.last_activity_date}}
	<p></p>
	<label>Student ID:</label>
	{{upform.custom_roll_no}}
	<p></p>

	<button id="submit" type="submit" name="submit" value="submit-value">Update</button>

	
</form>
    

{% endblock %}
