{% extends "base.html" %}
{% block title %}{{pagetitle}}{% endblock %}
{% block scriptjs %}
<script type="text/javascript" src="{{ STATIC_URL}}jscss/chart.js/Chart.js" %}"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jscss/chart.js/Chart-config.js" %}"></script>
<script type="text/javascript">
          $(function() { 
                        var newtypeid="{{newtypeid}}";
                        $('#{{newtypeid}}').puibutton(); 
                        $(function() { 
                                $('#{{tabletypeid}}').dynatable({
                                        features: {
                                                paginate: true,
                                                search: true,
                                                recordCount: true,
                                                sorting: true,
                                                
                                        },
					readers: {
                                            'last_activity': function(el, record) {
                                                 return Date.parse(el.innerHTML);
                                             }
                                        },
                                        //writers: {
                                        //    'last_activity': function(record) {
                                        //        return record.date.toString();
                                        //    }
                                        //},
                                        dataset: {
                                        records:[
						{% if yaxis %}
                					{% for l,id,latest in yaxis  %}
                        					//{"user":"<a href=\"../durationreport/getstatements/{{id}}\" >{{l}}</a>", "last_activity":"{{latest}}"} {% if not forloop.last %},{% endif %}
							        {"user":"<a href=\"../../useredit/{{id}}\" >{{l}}</a>", "last_activity":"{{latest}}"} {% if not forloop.last %},{% endif %}
                					{% endfor %}
        					{% endif %}
                                                ]
                                        }
                                });
                        });

        });

</script>

{% endblock %}

{% block content %}
{% if state %}
    <p class="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
    <h3><i><center>Last Activity Report for your organisation</center></i></h3>
    <table id="{{tabletypeid}}">
    <thead>
    {% for d, f in table_headers_html %}
        <th data-dynatable-column="{{d}}" >{{f}}</th>
    {% endfor %}
    </thead>
    <tbody>
    </tbody>
    <tfoot></tfoot>
    </table>
    <br></br>
    <!-- HTML goes here -->
    <p></p>
{% endif %}

{% endblock %}
