{% extends "base.html" %}
{% block title %}{{pagetitle}}{% endblock %}
{% block scriptjs %}
<script type="text/javascript" src="{{ STATIC_URL}}jscss/chart.js/Chart.js" %}"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jscss/chart.js/Chart-config.js" %}"></script>
<script type="text/javascript">
      $(function() { 
            var newtypeid="{{newtypeid}}";
            $('#{{newtypeid}}').puibutton(); 
            $(function() { 
                $('#{{tabletypeid}}').dynatable({
                    features: {
                        paginate: true,
                        search: true,
                        recordCount: true,
                        sorting: true,
                    },
                    writers: {
                        'last_activity': function(record) {
			    console.log(record.last_activity);
			    record.parsedDate = Date.parse(record.last_activity);
			    console.log("return: " + record.last_activity);
			    console.log("date: " + record.parsedDate);
			    if (record.parsedDate){
				console.log("date exists..");
				return new Date(record.last_activity).toUTCString();
			    }
			    return record.last_activity;
                        }
                    },
                    dataset: {
                        records:[
			    {% if yaxis %}
                		{% for l,id,latest in yaxis  %}
				    {"user":"<a href=\"../../useredit/{{id}}\" >{{l}}</a>", 
					"last_activity":"{{latest}}"} 
					    {% if not forloop.last %},{% endif %}
                		{% endfor %}
        		    {% endif %}
                        ]
                    }
                });
            });
        });
</script>

{% endblock %}

{% block content %}
{% if state %}
    <p class="error" style="color:red;"><i>{{state}}</i></p>
{% else %}
    <h3><i><center>Last Activity Report for your organisation</center></i></h3>
	<form action="/reports/noactivity/">
	    <h3><i>Show users inactive for <input type="text" name="daysinactive" value="{{inactivefor}}"> days:
	    <input type="submit" value="Go"><p></p></i></h3>
	</form>
    <table id="{{tabletypeid}}">
     <thead>
	<th data-dynatable-column="user">User</th>
	<th data-dynatable-column="last_activity">Last Activity</th>
	<!--<th data-dynatable-column="last_activity" data-dynatable-sorts="parsedDate" >Last Activity</th>-->
     </thead>
    </table>
    <p></p>
{% endif %}

{% endblock %}
